:host {
  width: 100%;
}

.mobile-header-container {
  background-color: #2a2a2a;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  position: relative;

  .logo {
    height: 5rem;
  }

  .mobile-menu {
    position: absolute;
    top: 9rem;
    right: -100%;
    transition: right 0.2s;
    background-color: rgba(41, 41, 41, 0.9);
    width: 100%;

    .menu {
      color:  #ccc;
      display: flex;
      flex-direction: column;
      margin: 0;

      .menu-item {
        padding: 2rem;
        font-size: 1.7rem;
        text-align: left;

        &:not(:last-of-type) {
          border-bottom: 1px solid #808080;
        }
      }
    }

    &.visible {
      right: 0;
    }
  }
}

.full-screen-header-container {
  display: none;
  padding: 1rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.1s;

  &.dark {
    background-color: #2a2a2a;
  }

  .company-logo {
    cursor: pointer;
  }

  .menu-container {
    flex-grow: 1;
  }

  .menu {
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin-top: 2rem;

    .menu-item {
      padding: 0 2rem;
      font-size: 1.7rem;
      cursor: pointer;

      &:not(:last-of-type) {
        border-right: 1px solid white;
      }
    }
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo {
  height: 10rem;
  margin-left: 2rem;
}

.hamburger-menu {
  display: block;
}

#nav-icon3 {
  width: 30px;
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #e20712;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
}

#nav-icon3 span:nth-child(1) {
  top: 0;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 0;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 0;
  width: 0%;
  left: 50%;
}

@media (min-width: 768px) {
  .full-screen-header-container {
    display: block;
  }

  .mobile-header-container {
    display: none;
  }
}
