.homepage-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  //margin-top: 15rem;
}

.banner-img {
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  transition: margin-top 0.2s;

  &.hideLogo {
    margin-top: -110px;
  }

  &.showLogo {
    margin-top: 0;
  }
}

.video-section {

  padding: 20px;

  .section-info {
    display: flex;
    padding: 20px 30px;
    align-items: center;
  }


  .description {
    flex-basis: 50%;
    font-size: 20px;
    margin-left: 2rem;
  }

  .responsive-iframe {
    flex-basis: 36%;

    height: 27rem;
  }
}


.section-title {
  font-size: 3.6rem;
  text-align: center;
  color: red;
  margin: 2rem 0;

  &::before,
  &::after {
    content: " ";
    height: 2px;
    width: 80px;
    margin: 10px;
    display: inline-block;
    zoom: 1;
    background-color: red;
  }
}
