.homepage-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 9rem;
}

.banner-img {
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  transition: margin-top 0.2s;
  z-index: 2;
}

.video-section {
  padding: 2rem;

  .section-info {
    padding: 2rem 3rem;
  }

  .description {
    font-size: 2rem;
    margin-top: 4rem;
  }

  .responsive-iframe {
    height: 27rem;
  }
}


.section-title {
  font-size: 2rem;
  text-align: center;
  color: red;
  margin: 2rem 0;

  &::before,
  &::after {
    content: " ";
    height: 0.2rem;
    width: 4rem;
    margin: 0.5rem;
    display: inline-block;
    zoom: 1;
    background-color: red;
  }
}

@media (min-width: 540px) {
  .section-title {
    font-size: 2.8rem;

    &::before,
    &::after {
      content: " ";
      height: 0.2rem;
      width: 6rem;
      margin: 1rem;
      display: inline-block;
      zoom: 1;
      background-color: red;
    }
  }
}

@media (min-width: 768px) {
  .homepage-container {
    margin-top: 0;
  }

  .video-section {
    .description {
      margin-top: 0;
    }
  }

  .fixed {

    &.hideLogo {
      margin-top: -12rem;
    }

    &.showLogo {
      margin-top: 0;
    }
  }

  .section-title {
    font-size: 3.6rem;

    &::before,
    &::after {
      content: " ";
      height: 0.2rem;
      width: 8rem;
      margin: 1rem;
      display: inline-block;
      zoom: 1;
      background-color: red;
    }
  }
}
