<div class="about-us-container">
  <section class="banner">
    <img src="../../../../../../assets/about-us.jpeg" class="banner-img">
    <h1 class="title">Sobre Nosotros</h1>
  </section>
  <section class="clients-section">
    <h3 class="section-title">Nuestros clientes</h3>
    <div class="clients-container">
      <ul class="clients-list">
        <li class="logo-container">
          <img src="../../../../../../assets/justo-bueno-logo.png" class="client-logo">
        </li>
        <li class="logo-container">
          <img src="../../../../../../assets/tostao-logo.png" class="client-logo">
        </li>
        <li class="logo-container">
          <img src="../../../../../../assets/rapidogs-logo.png" class="client-logo">
        </li>
      </ul>
    </div>
  </section>
</div>
