.footer {
  padding: 3rem 5rem;
  background-color: #2a2a2a;
  color: #a6a6a6;
}

.logo-container {
  text-align: center;
  .logo {
    height: 8rem;
  }
}

.address {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.number {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  color: #a6a6a6;

  .contact-icon {
    margin-right: 1rem;
    font-size: 2rem;
  }
}

.title {
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.title::after {
  position: absolute;
  content: "";
  background: grey;
  width: 40%;
  height: 0.1rem;
  left: 0;
  bottom: -1rem;
}

.social {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #a6a6a6;
  opacity: 0.75;
  position: relative;

  &:not(:last-of-type) {
    margin-right: 2rem;
  }

  &:hover {
      opacity:0.9;
  }
}

.social-media-icon {
  color: #a6a6a6;
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.company-contact,
.follow-us,
.company-address {
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .company-contact,
  .follow-us,
  .company-address {
    margin-top: 0;
  }
}
